{% extends 'base.html'%}
{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>

          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>{{blog.title}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry">

              <div class="entry-img">
                <img src="{% if blog.cover %}
                {{blog.cover.url}}
                {% else %}
                {% load static %}
                {% static "blog/Blog_pic.png" %}
                {% endif %} " alt="{{blog.title}}" class="img-fluid-resize">
              </div>

              <h2 class="entry-title">
                <a href="/blogpost/{{blog.slug}}">{{ blog.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{blog.author}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#">{{ blog.created_on }}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ blog.content }}
                </p>
              </div>

                <div>
                    {% for tags in blog.tags.all %}
                        <a href="{% url "blog:posts_by_tag" tag_slug=tags.slug %}"
                           class="badge text-decoration-none bg-secondary">
                            {{ tags }}
                        </a>
                    {% endfor %}
                </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">
              {% if request.user.is_authenticated %}
              <h3 class="sidebar-title">User panel</h3>
              <div class="sidebar-item categories">
                You are logged in as <b>{{request.user}}</b>.
                <ul>
                  <li><a href="/admin">Admin panel</a></li>
                  <li><a href="/accounts/logout">Logout</a></li>
                </ul>
              </div>
              {% endif %}
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->


              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                    {% for tag in tags %}
                        <li><a href="{% url "blog:posts_by_tag" tag_slug=tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock body %}