{% extends 'base.html'%}
{% block body %}
<main id="main">
    {% if request.user.is_authenticated %}
    <h3>Hello, {{request.user}}!</h3>
    {% endif %}
    {% for paragraph in paragraphs %}
    {% if paragraph.title == "" %}
    {% else %}
    <h1>{{ paragraph.title }}</h1>
    {% endif %}
    {% if paragraph.subtitle == "" %}
    {% else %}
    <h3>{{ paragraph.subtitle }}</h3>
    {% endif %}
    <p>
        {{ paragraph.content }}
    </p>
        {% if paragraph.cover %}
        <div class="entry-img">
            <img src="{{ paragraph.cover.url }}" alt="{{ paragraph.title }}" class="img-fluid-resize">
        </div>
        {% endif %}
    {% endfor %}
</main>
{% endblock body %}